section{
    margin-top: 60px;
    margin-bottom: 100px;
}

.about-us-section{
    margin-top: 180px;
    color: rgb(43 43 57 / 51%);
}

.about-us-section .row{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 12px;
}

.about-us-row{
    margin-top: 150px;
    
}
.about-us-section .about-doctor .about-doctor-title{
    text-align: center;
}
.about-doctor .doctor-bio{
    margin-top: 20px;
}

.about-us-second-row{
    background: url('../images/about-us.png');
    /* background: no-repeat; */
    /* background-size: cover; */
    width: 100%;
    height: 662px;
}
@media (min-width: 520px){
    .about-us-second-row {
        height: 450px;
    }
}

.our-consultants-container .title{
text-align: center;
}
.consultants-row{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.consultants-row .col{
    /* border: 1px solid blue; */
    padding: 20px 5px;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.consultants-row .doctors-lists ul li{
    list-style: none;
    padding: 10px 3px;
    font-size: 18px;
}
.lab-partners .row{
    display: flex;
    justify-content: space-around;
}
.lab-partners .title{
    text-align: center;
    margin-bottom: 30px;
}
.lab-partners .card{
    border: none;
    /* border: 1px solid rgb(166, 166, 255); */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    /* width: 100%; */
    padding: 10px 20px;
    /* border: none; */
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.lab-partners .card i::before{
    font-size: 30px;
}
.lab-partners .card h3{
    /* text-shadow: 2px 2px 3px #3e42b5; */
    font-size: 30px;
}
.lab-partners .card p{
    color: rgba(75, 75, 81, 0.662);
}
.team .title{
    text-align: center;
}
.team .row{
    display: flex;
    justify-content: center;
}
.team .row .col{
    padding: 20px 30px;
    /* border: 1px solid skyblue; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: max-content;
    margin: 5px 20px;
}
.team .row .col h3{
    font-size: 25px;
    color: #2e3c6e;
}