@font-face{
    font-family: myFont;
    src: url('../fonts/PPPangaia-Medium-BF654c530cc86d5.otf');
}


/* NAVBAR   */
.navbar {
    background-color: transparent;
    transition: background-color 0.3s;
    font-size: 22px;
    /* padding: 15px; */
    font-family: myFont;
    /* font-family: cursive; */
}
.navbar img{
    width: 100px;
    height: 100px;
    margin-left: 13px;
}

.navbar.fixed-top {
    position: fixed;
    background-color: your-desired-color; /* Set the desired background color when scrolling */
    width: 100%; /* Ensure it spans the full width of the viewport */
    z-index: 1000; /* Ensure it's above other elements */
}

#navbarNavDropdown{
    justify-content: space-around;
    margin-left: 28px;
    /* font-fam; */
}

.navbar-brand{
    margin-left: 30px;
}
.nav-item{
    /* padding: 20px; */
}
@media(min-width: 991px){
  .nav-item{
    padding: 20px;
  }
}
.nav-item a span{
    /* color: black; */
    color: #A46403;
}
/* .nav-item a:hover{
    color: grey;
} */

.nav-item a span{
    background: 
      linear-gradient(to right, rgb(22, 22, 22), rgb(20, 21, 21)),
      linear-gradient(to right, rgb(250, 201, 128), rgb(249, 167, 45),rgb(164, 100, 3));
    background-size: 0 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  .nav-item a span:hover,
  .nav-item a span:focus {
    background-size: 0 0.1em, 100% 0.1em;
  } 
  .dropdown-toggle::after{
    color: #A46403;
  }
  .dropdown-menu{
    background-color: #454545;
  }
  
/* NAVBAR   */





/* //////////////////////////////////////////////////////////////////////// */
/* HERO BANNER  */
.hero-banner{
    background: url('../images/hero-banner.jpg');
    background-size: cover;
    height: 700px;
    padding: 24%;
}
.hero-banner .row{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: myFont;
    font-style: italic;
    color: wheat;
}
.hero-banner .btn-outline{
    /* border-color: #A46403; */
    /* color: #A46403; */
    background-color: #ca7a02;
    color: black;
}

.hero-banner .btn-outline:hover{
    background-color: #e9971b;
    color: black;
}
.hero-banner-contact-section{
    margin-top: 115px;
}
@media (max-width: 768px){
    .hero-banner-calling{
        margin-top: 20px;
    }
}
/* HERO BANNER  */
/* //////////////////////////////////////////////////////////////////////// */
